.texto_promocional {
    flex: 0 0 300px;
    padding-right: 28px;
}

.titulo_promocional {
    font-size: 50px;
    line-height: 1.5;
    color: #133A7C;
    margin: 20px 100px;
    text-align: center;
    padding: 10px;
}

.subtitulo_promocional {
    font-size: 30px;
    line-height: 1.5;
    color: #133A7C;
    margin: 20px 100px;
    text-align: center;
    padding: 10px;
}

.video_promocional {
    flex: 1;
    min-width: 0;
}

.video_promocional iframe {
    width: 52%;
    height: 500px;
    border-radius: 8px;
    border: none;
}

.tabela_veiculos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.veiculos_cards {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 300px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    z-index: 1
}

.veiculos_cards:hover {
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.15);
    transform: scale(1.04);
    z-index: 2;
    position: relative
}

.veiculo_img {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.veiculo_info {
    padding: 20px;
    background-color: #fff;
}

.veiculo_titulo {
    margin: 0;
    font-size: 18px;
    color: #133A7C;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.veiculo_preco {
    font-size: 16px;
    color: #133A7C;
    margin: 10px 0;
}

.veiculo_detalhes {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.veiculo_comparar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.veiculo_comparar input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.veiculo_info-icon {
    width: 20px;
    cursor: pointer;
}

.veiculos_cards:hover .veiculo_img--hover {
    opacity: 0.2;
}

.submit_botao{
    background-color: #133A7C;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 200px;
}

.submit_botao:hover{
    background-color: #47A8E5;
    color: #fff
}